<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common::common-head(title='홈페이지')}"></head>
<div th:replace="~{layout/header::header}"></div>
<body>
    <button id="testApiButton">API 테스트</button>

<div th:replace="~{layout/common::common-scripts}"></div>
<div th:replace="~{layout/footer::footer}"></div>
<span id="backend-url" th:attr="data-url=${backendUrl}"></span>
</body>
<script>
    console.log(window.location.origin);
    var backendUrl = document.getElementById("backend-url").dataset.url;
    document.getElementById("testApiButton").addEventListener("click", function() {
        fetch(backendUrl + "/api/test")
            .then(response => response.text())
            .then(data => {
                console.log("API 응답:", data);
            })
            .catch(error => {
                console.error("API 요청 실패:", error);
            });
    });
</script>
</html>